/*-----Name: Vimean Chea-------*/
/*CPSC 473*/
/*-------top box-------*/
.top-container {
  display: inline-block;
  width: 60%;
  height: 45px;
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  margin-left: 110px;
  margin-bottom: 0%;
  margin-top: 5%;
  padding: 20px;
}

/*-------The two middle boxes--------*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  height: 600px;
  margin-right: 100px;
}

.flex-container>div {
  display: inline-block;
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
  height: 200px;
  width: 380px;
  color: black;
  margin: 10px;
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
  padding: 20px;
  margin-top: 1%;
}

/*---------List and table design-----------*/
ul {
  list-style-type: none;
  font-size: 14px;
  white-space: pre-line;
}

table {
  border-collapse: collapse;
  width: 70%;
  height: 70%;
}

table, th, td {
  border: 1px solid black;
}
